.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  margin: auto;
  margin-top: 0;
}
.ItemStyle {
  font-weight: bolder;
  color: teal;
}
.MainBox {
  margin-bottom: 5px;
  box-shadow: 2px 2px silver;
}
